S3method("+",SSModel)
S3method(logLik,SSModel)
S3method(plot,KFS)
S3method(plot,approxSSM)
S3method(predict,KFS)
S3method(print,KFS)
S3method(print,SSModel)
S3method(residuals,KFS)
export(KFS)
export(SSModel)
export(approxSSM)
export(arimaSSM)
export(fitSSM)
export(importanceSSM)
export(ldl)
export(regSSM)
export(signal)
export(simulateSSM)
export(structSSM)
export(transformSSM)
useDynLib(KFAS,allsmooth)
useDynLib(KFAS,distsmooth)
useDynLib(KFAS,gloglika)
useDynLib(KFAS,gloglikd)
useDynLib(KFAS,glogliku)
useDynLib(KFAS,kfilter)
useDynLib(KFAS,ldlssm)
useDynLib(KFAS,ngloglik)
useDynLib(KFAS,predobs)
useDynLib(KFAS,signaltheta)
useDynLib(KFAS,signalthetang)
useDynLib(KFAS,statesmooth)
